<div class="container col-sm-12 text-left row">
	<% @posts.each do |post| %>
		<div class="post col-sm-12">
			<%= p post.content %>
		</div>
		<p class="post-date col-sm-12 text-left">
			Posted <%= post.created_at.to_formatted_s(:long) %>
		</p>
	<% end %>
</div>