<% @posts.each do |post| %>
	<div class="row post-area">
		<div class="col-sm-12">
			<h4><%= p post.title %></h4>
		</div>
		<div class="col-sm-12 post-content-display">
			<%= p post.content %>
		</div>
		<div class="post-info col-sm-12">
			Posted by <%= post.name %> on <%= post.updated_at.to_formatted_s(:long) %>
		</div>
	</div>
<% end %>
