<%= form_for @post do |f| %>
	<label for="content">Post:</label>
	<textarea id="post_content" name="post[content]">
	</textarea>
	
	<div class="btn-primary">
		<button name="button" type="submit">Submit Post</button>
	</div>
<% end %>