<div class="container">
	<div class="row">
	<div class="col-sm-12 text-left">
		<h2>Submit a Posting</h2>
	</div>
	</div>
		<%= form_for @post do |f| %>
		<div class="row">
				<div class="row">
					<label for="title" class="col-sm-12 text-left">Title</label>
					<input id="post_title" name="post[title]" class="col-sm-3 text-left"></input>
				</div>

				<div class="row">
					<label for "name" class="col-sm-12 text-left">Name</label>
					<input id="post_name" name="post[name]" class="col-sm-3 text-left"></input>
				</div>

				<div class="row">
					<label for="content" class="col-sm-12 text-left">Message</label>
					<textarea id="post_content" name="post[content]" class="col-sm-6"></textarea>
				</div>

				<div class="btn-pirmary col-sm-6 col-sm-offset-6 text-right">
					<button name="button" type="submit">Submit Post</button>
				</div>

		</div>
		<% end %>
</div>
